#mainTable
{
    border-collapse:collapse;
    background-color:#485050;
    }
    #mainTable tr td
    {
        width:10px;
        height:10px;
        border:1px solid #696363;

        }
#popup
{
    width: 240px;
    height: 100px;
    top: 40%;
    left: 40%;
    position: absolute;
    display: none;
    background-color:#fff
}

.popup_content
{
    padding-top: 20%;
    height: 80px;
}

.pupup_footer
{
    height: 20px;
}

