#mainTable
{
    border-collapse:collapse;
    background-color:#485050;
    }
    #mainTable tr td
    {
        width:10px;
        height:10px;
        border:1px solid #696363;

        }
#popup
{
    width: 250px;
    height: 140px;
    top: 0px;
    right:0px;
    position: fixed;
    display: none;
    background-color:#fff
}

.popup_content
{
    padding-top: 20px;
    height: 90px;
}

.pupup_footer
{
    height: 30px;
}

